.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.section {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #864343;
  background-image: url('../images/fondo3.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  width: 64px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-right: 0%;
  margin-left: 0%;
  padding-right: 6%;
  padding-left: 6%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(212, 122, 110, 0);
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 9px;
  margin-bottom: 6px;
  margin-left: 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(247, 243, 242, 0.36);
  font-family: 'Open Sans', sans-serif;
  color: #f8f4f4;
  font-size: 28px;
  line-height: 28px;
  font-weight: 300;
}

.navlink {
  font-family: 'Open Sans', sans-serif;
  color: #f7f3f2;
}

.nav-menu {
  margin-top: 0px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #f6f3f3;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 12px;
}

.div-block {
  margin-left: 11px;
}

.text-block {
  display: none;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #f9f5f5;
  font-size: 50px;
  font-weight: 700;
}

.section-2 {
  position: relative;
  z-index: 100;
  height: 100vh;
  padding: 10vh 6%;
  background-color: #b85b4f;
}

.div-block-2 {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-right: 6%;
  margin-bottom: 15px;
  margin-left: 6%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.text-block-2 {
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #f7f3f2;
  font-size: 13px;
  font-weight: 300;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 21%;
  font-family: 'Open Sans', sans-serif;
  color: #59767b;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 8px;
}

.heading-3.blanco {
  color: #f7f3f2;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 25px;
  padding-top: 3px;
  font-family: 'Open Sans', sans-serif;
  color: #59767b;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 3px;
}

.paragraph {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  font-family: 'Open Sans', sans-serif;
  color: #7d7b7b;
  font-weight: 300;
  text-align: justify;
}

.column {
  padding-right: 25px;
}

.image-2 {
  width: 37px;
  margin-right: 11px;
}

.text-block-3 {
  text-decoration: none;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #f7f3f2;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
}

.section-3 {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 10vh 6% 10vh 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f3f2;
}

.paragraph-2 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #d47a6e;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  text-align: justify;
}

.div-block-5 {
  width: 60%;
}

.text-block-4 {
  font-family: 'Open Sans', sans-serif;
  color: #f7f3f2;
  font-size: 20px;
  font-weight: 300;
}

.text-block-5 {
  font-family: Oswald, sans-serif;
  color: #d47a6e;
  font-size: 83px;
  text-align: center;
}

.frasegrande {
  margin-top: 29px;
  margin-bottom: 29px;
  font-family: Montserrat, sans-serif;
  color: #f7f3f2;
  font-size: 52px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 9px;
}

.text-block-6 {
  color: #f7f3f2;
}

.frasechica {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #f7f3f2;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
}

.columns {
  width: 100%;
}

.column-2 {
  padding-top: 0px;
  padding-left: 32px;
  border-left: 1px solid rgba(89, 118, 123, 0.2);
}

.txtitem {
  margin-top: 11px;
  font-family: 'Open Sans', sans-serif;
  color: #59767b;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 2px;
}

.txtitem.blanco {
  color: #f7f3f2;
}

.list {
  margin-top: 14px;
  margin-bottom: 32px;
  padding-bottom: 20px;
  padding-left: 0px;
  border-bottom: 1px solid rgba(97, 112, 142, 0.2);
  color: #d47a6e;
}

.txtitem2 {
  font-family: 'Open Sans', sans-serif;
  color: #d47a6e;
  font-size: 19px;
  font-weight: 300;
}

.list-2 {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 18px;
  padding-left: 23px;
  border-left: 1px solid rgba(212, 122, 110, 0.17);
}

.list-item {
  margin-bottom: 7px;
}

.paragraph-3 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #59767b;
  font-size: 17px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
}

.button {
  margin-top: 61px;
  border-style: solid;
  border-width: 1px;
  border-color: #f7f3f2;
  border-radius: 2px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-7 {
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  height: 300px;
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d47a6e;
}

.listitem {
  margin-bottom: 44px;
}

.column-3 {
  height: auto;
  padding-left: 0%;
}

.div-block-8 {
  height: 100%;
  margin-top: 70px;
  background-image: url('../images/hands.jpg');
  background-position: 50% 50%;
  background-size: 402%;
  background-repeat: no-repeat;
}

.column-4 {
  padding-top: 0px;
  padding-left: 57px;
}

.paragraph-4 {
  margin-top: 20px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #f7f3f2;
  font-size: 16px;
  font-weight: 300;
}

.contacto {
  position: relative;
  z-index: 100;
  padding: 10vh 6%;
  background-color: #59767b;
}

.fieldlabel {
  font-family: 'Open Sans', sans-serif;
  color: #f7f3f2;
  font-weight: 300;
}

.submitboton {
  float: right;
  background-color: #d47a6e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.txtfield {
  font-family: 'Open Sans', sans-serif;
}

.image-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.03;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-10 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.txtfooter {
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(247, 243, 242, 0.59);
  font-size: 19px;
  font-weight: 300;
}

.txtfooter.margin0 {
  margin-bottom: 0px;
}

.link-block-2 {
  text-decoration: none;
}

.section-4 {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  padding-right: 6%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: rgba(247, 243, 242, 0);
}

.text-block-7 {
  margin-right: 0px;
  margin-bottom: 6px;
  font-family: Oswald, sans-serif;
  color: #59767b;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}

.div-block-11 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 120vh;
  background-image: url('../images/WhatsApp-Image-2020-07-16-at-16.20.55.jpeg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.datoscliente {
  display: block;
  height: auto;
  padding: 8px 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f2efef;
}

.txtcliente {
  height: 20px;
  max-height: 20px;
  padding-right: 3px;
  padding-left: 3px;
  text-align: center;
}

.txtcliente.blanco {
  color: #f2eeed;
}

.txtcliente.blanco.gde {
  border-radius: 4px;
  background-color: #faf7f7;
  color: #2196f3;
  font-size: 16px;
}

.txtcliente.importe {
  padding-right: 97px;
  text-align: right;
}

.txtcliente.cuota {
  display: inline-block;
  border-radius: 6px;
  background-color: transparent;
  font-weight: 700;
}

.txtcliente.cuota.verde {
  background-color: #21b55f;
}

.txtcliente.cuota.rojo {
  background-color: #eb3023;
}

.wrapperctacte {
  position: relative;
  overflow: auto;
  height: auto;
}

.encabezadopago {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f3f2;
}

.encabezadocompra {
  padding: 8px 18px;
  background-color: #3898ec;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.column-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.column-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.tituloencabezadopago {
  width: 14.28%;
}

.column-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pago {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 18px;
  border-bottom: 1px solid #e5e2e2;
  cursor: pointer;
}

.pago:hover {
  background-color: rgba(197, 198, 146, 0.43);
}

.datospago {
  width: 14.28%;
  height: 20px;
  max-height: 20px;
  padding-left: 3px;
  background-color: transparent;
}

.datospago.verde {
  background-color: transparent;
}

.datospago.rojo {
  background-color: transparent;
}

.div-block-14 {
  height: 100vh;
  background-image: url('../images/WhatsApp-Image-2020-07-16-at-16.20.55.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid {
  grid-column-gap: 379px;
  grid-row-gap: 266px;
  grid-template-areas: "Area Area-2" "Area-3 Area-4";
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal {
  overflow: auto;
  width: 80%;
  min-height: 500px;
  min-width: 700px;
  padding: 11px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #000;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 1px;
  padding: 6px;
  background-color: #edebeb;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-align: center;
}

.datoscuota {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.txtmodal {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
}

.txtmodal.centrado {
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-align: center;
}

.txtmodal.derecha {
  text-align: right;
}

.txtmodal.blanco {
  color: #f7f3f2;
}

.importes {
  margin-top: 10px;
}

.column-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.columns-2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.div-block-15 {
  padding-top: 5px;
  background-color: #edebeb;
}

.column-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.datospagos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px 5px 20px;
  background-color: #edebeb;
}

.datospagos.blanco {
  padding-right: 0px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.datopago {
  width: 25%;
  height: auto;
}

.noAnular {
  width: 30px;
  height: 30px; 
}

.anular {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ea1212;
  border-radius: 3px;
  background-color: transparent;
  background-image: url('../images/eliminar.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  color: #f7f3f2;
  cursor: pointer;
}

.totalpagos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 29px 5px 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #9e9c9c;
  background-color: #fff;
}

.totalpagos.margin {
  margin-top: 20px;
}

.ingresapago {
  margin-top: 20px;
}

.input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inputfield {
  width: auto;
  margin-bottom: 0px;
  margin-left: 5px;
  font-family: Lato, sans-serif;
}

.column-16 {
  padding-left: 0px;
}

.columns-3 {
  margin-top: 10px;
}

.radiobuttons {
  padding-bottom: 5px;
  padding-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #d9d7d7;
}

.tadiobuttonlabel {
  font-family: Lato, sans-serif;
}

.column-17 {
  padding-right: 0px;
}

.recargo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-2 {
  margin-right: auto;
  margin-left: auto;
  background-color: #3898ec;
  font-family: Lato, sans-serif;
}

.div-block-16 {
  display: block;
  margin-top: 16px;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.importefinal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 38px;
  padding-right: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #edebeb;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 18px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: #edebeb;
}

.txtventas {
  display: inline-block;
  margin-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Lato, sans-serif;
}

.txtventas.blanco {
  padding: 0px;
  color: #f7f3f2;
}

.txtventas.blanco.der {
  text-align: left;
}

.txtventas.der {
  text-align: right;
}

.columns-4 {
  padding-right: 18px;
  padding-left: 18px;
  background-color: #f7f7f7;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-height: 47px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-19.izq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 47;
  min-height: 47px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-19.der {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-20 {
  overflow: auto;
  max-height: 35vh;
  min-height: 0vh;
  padding: 6px 18px;
}

.div-block-21 {
  width: 200px;
  height: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: #edebeb;
}

.image-4 {
  width: 35px;
  padding: 5px;
}

.columns-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #edebeb;
}

.columns-6 {
  padding: 6px 18px;
  background-color: #2196f3;
}

.column-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.column-19 {
  padding-left: 0px;
}

.column-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.column-21 {
  padding-right: 0px;
}

.column-22 {
  padding-left: 0px;
}

.column-23 {
  padding-left: 0px;
}

.column-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-25 {
  padding-left: 0px;
}

.column-26 {
  padding-left: 0px;
}

.totaltotal {
  margin-top: 14px;
  background-color: #f7f7f7;
}

.columns-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 18px;
  padding-left: 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #2196f3;
}

.column-27 {
  padding-left: 0px;
}

.column-28 {
  padding-right: 0px;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  padding-right: 18px;
  padding-left: 18px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button-3 {
  border-radius: 5px;
  font-family: Lato, sans-serif;
}

.divventa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #edebeb #000 #000;
}

.divventa.input {
  padding: 6px 18px;
  border-top-style: solid;
  border-top-color: #2196f3;
  border-bottom-style: solid;
  border-bottom-color: #2196f3;
  background-color: #f7f7f7;
}

.cantidad {
  width: 7%;
  height: auto;
}

.producto {
  width: 33%;
  margin-left: 0%;
}

.descripcion {
  width: 33%;
  margin-left: 0%;
}

.precio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.column-29 {
  padding-left: 0px;
}

.column-30 {
  padding-right: 0px;
}

.encabezadoventas {
  padding: 6px 18px;
  background-color: #2196f3;
}

.borrar {
  width: 35px;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.totales {
  height: auto;
  padding: 6px 18px;
}

.div-block-25 {
  padding: 6px 18px;
  background-color: #2196f3;
}

@media screen and (max-width: 991px) {
  .wrapperctacte {
    overflow: scroll;
    width: auto;
    height: auto;
  }
  .contenido {
    overflow: hidden;
    width: 900px;
    height: 70vh;
    float: none;
  }
  .div-block-13 {
    position: relative;
    overflow: scroll;
    width: 1000px;
    height: 70vh;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .modal {
    min-height: auto;
    min-width: auto;
  }
}

@media screen and (max-width: 767px) {
  .column-12 {
    padding-left: 0px;
  }
  .column-13 {
    padding-left: 0px;
  }
}

#w-node-ebf05dc4971d-6aee7965 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
}

